img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body
{
    background-color: #52527a;
    border-style: inset;
}

p 
{
    font-family:Franklin Gothic Medium ;
    font-size: 18px;
    color:#cccccc;
}